@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: 
        url('/project/assets/fonts/poppins-regular-webfont.woff') format('woff'),
        url('/project/assets/fonts/poppins-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    src: 
        url('/project/assets/fonts/poppins-medium-webfont.woff') format('woff'),
        url('/project/assets/fonts/poppins-medium-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    src: 
        url('/project/assets/fonts/poppins-semibold-webfont.woff') format('woff'),
        url('/project/assets/fonts/poppins-semibold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: 
        url('/project/assets/fonts/poppins-bold-webfont.woff') format('woff'),
        url('/project/assets/fonts/poppins-bold-webfont.woff2') format('woff2');
}

